.apartments {
    margin-top: 120px;
    &__title{
        margin-bottom: 100px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2,535px);
        grid-auto-columns: 535px;
        grid-template-rows: repeat(2,320px);
        column-gap: 40px;
        row-gap: 40px;
    }
    &__item {
        &-block {
            position: relative;
        }
        &-descr {
            // transform: translateY(-100px);
            // z-index: 2;
            position: absolute;
            bottom: 50px;
            left: 50px;

            font-size: 24px;
            font-weight: 400;
            font-family: 'Raleway', sans-serif;
            color: #fff;
        }
    }
}