.header {
    padding-top: 30px;
    position: relative;
    height: 100vh;
    background: url(../../img/bg/first-bg.png) center center / cover no-repeat;
    nav {
        display: flex;
        justify-content: space-between;
    }
    .menu {
        &__block {
            display: flex;
            justify-content: space-between;
            width: 550px;
            list-style-type: none;
        }
        &-link {
            color: #fff;
            font-size: 14px;
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
            &:hover {
                color: $main-color;
            }
        }
    }
    &__title {
        position: relative;
        
        width: 550px;
        text-align: center;
        margin: 0 auto;
        margin-top: 200px;

        font-family: 'Playfair Display', serif;
        font-size: 48px;
        font-weight: 700;
        color: $main-color;
        cursor: pointer;
        &::after {
            content: url(../img/icons/mouse.svg);
            position: absolute;
            top: 200px;
            left:  250px;
        }
    }
    &__block {
        display: flex;
        justify-content: space-between;

        width: 450px;
        margin: 0 auto;
        margin-top: 280px;
    }
    &-address, &-call {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
    }
    &-address {
        position: relative;
        &::before {
            content: url(../img/icons/map.svg);
            position: absolute;
            top: 2px;
            left: -30px;
        }
    }
    &-call {
        position: relative;
        &::before {
            content: url(../img/icons/call.svg);
            position: absolute;
            top: 2px;
            left: -30px;
        }
    }
}

.hamburger{
    position: absolute;
    right: 35px;
    top: 45px;
    width: 40px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    span {
        display: block;
        height: 3px;
        width: 30px;
        background-color:#fff;
        margin-bottom: 4px;
        z-index: 6;
        transition: 0.6s all
    }
    &_active {
        span {
            margin-bottom: 3px;
            &:nth-child(1){ 
                transform: translateY(10px) rotate(45deg);
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: translateY(-14px) rotate(-45deg);
            }
        }

    }
}