@media(min-width: 993px) {
    .hamburger {
        display: none;
    }
    .social {
        display: none;
    }
}

@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        .menu {
            position: fixed;
            top: 0;
            right: -100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 35%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 5;
            transition: 0.5s all;
            &__block {
                display: block;
                flex-direction: column;
                margin-top: 150px;
                margin-left: 25%;
            }
            &_active {
                right: 0;
            }
            &-item {
                list-style-type: none;
                margin-bottom: 20px;
            }
            &-link {
                font-size: 20px;
            }
        }
        .social {
            position: absolute;
            bottom: 35px;
        }
    }
}

@media(max-width: 768px) {
    .container{
        max-width: 500px;
    } 
    .header {
        &__title {
            font-size: 42px;
            width: 500px;
            &::after {
                display: none;
            }
        }
        .menu {
            width: 45%;
        }
    }
    .social {
        position: absolute;
        bottom: 35px;
    }
}
@media(max-width: 576px) {
    .container{
        width: 100%;
        padding: 0 10px;
    } 
    .header {
        &__logo {
            margin-top: -10px;
            margin-left: 20px;
        }
        &__title {
            font-size: 27px;
            width: 310px;
            margin-top: 150px;
            &::after {
                display: none;
            }
            &__logo {
                width: 100px;
                height: 100px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .menu {
            width: 80%;
        }
        &__block {
            display: none;
        }
        .social {
            position: absolute;
            bottom: 90px;
        }
    }
    .hamburger {
        top: 37px;
    }
}

